*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif; }

a {
  text-decoration: none;
  color: #000; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-thumb {
  background-color: #700404; }

html {
  height: 100%; }

/* LAYOUT GRID */
.grid-container-index {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 150px 150px auto 250px auto 100px 300px;
  grid-template-areas: "header       header       header" "navbar       navbar       navbar" "flex-main    flex-main    flex-main" "sidebar      sidebar      sidebar" "flex-section flex-section flex-section" "content__button-1 content__button-1 content__button-1" "grid-footer  grid-footer  grid-footer"; }

html {
  height: 100%; }

/* LAYOUT GRID */
.grid-container-productos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 150px 150px auto 300px;
  grid-template-areas: "header        header        header" "navbar_filter navbar_filter navbar_filter" "container__main container__main container__main" "grid-footer   grid-footer   grid-footer"; }

html {
  height: 100%; }

/* LAYOUT GRID */
.grid-container-contacto {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 150px 80px auto 300px;
  grid-template-areas: "header          header" "info__tienda    info__tienda" "container__main container__main " "grid-footer     grid-footer"; }

html {
  height: 100%; }

.grid-container-envios {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px auto 300px;
  grid-template-areas: "header          header" "container__main-prd container__main-prd " "grid-footer     grid-footer"; }

html {
  height: 100%; }

.grid-container-talles {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px auto 300px;
  grid-template-areas: "header             header" "container__article container__article " "grid-footer        grid-footer"; }

.header {
  width: 100%;
  height: 100px;
  grid-area: header;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.2); }

.menu__logo {
  font-size: 2.5rem;
  margin-left: 2rem;
  padding-right: 10px;
  font-weight: 100; }

.menu__opciones_lista {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 50px;
  grid-gap: 1.5rem;
  flex-grow: 1; }

.menu__opciones_lista li {
  text-align: center;
  transition: 1s ease all; }

.menu__productos__desplegable ul {
  list-style: none;
  position: absolute;
  width: 180px;
  display: none;
  height: 180px;
  background-color: #fff;
  cursor: pointer; }

.menu__productos__desplegable ul li a {
  font-size: 1.2rem;
  letter-spacing: 1px; }

.menu__productos__desplegable ul li {
  padding-top: 10px; }

.menu__productos__desplegable:hover ul {
  display: block; }

.menu__opciones_lista > li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
  letter-spacing: 1.5px;
  position: relative;
  width: 100%;
  padding: 0 10px; }

.menu__opciones_lista > li a:after {
  position: absolute;
  transition: all .5s ease;
  content: "";
  height: 1px;
  background-color: #720707;
  width: 0;
  left: 0;
  bottom: -10px; }

.menu__opciones_lista > a:hover {
  color: #720707; }

.menu__opciones_lista li a:hover:after {
  width: 100%; }

.menu__icon {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
  padding-left: 10px; }

/* BAG con JS */
.container__bag {
  position: relative;
  right: 20px; }

.container__bag:after {
  content: "0";
  width: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  left: 25px;
  padding-left: 5px;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.2); }

.bag {
  height: 150px;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.2);
  position: absolute;
  width: 300px;
  right: 24px;
  display: none;
  transition: 1s ease all; }

.bag span {
  color: #000;
  margin-top: 10px;
  padding-left: 20px;
  background-color: #fff;
  width: 300px;
  display: block; }

.bag button {
  background-color: #000;
  text-align: center;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  margin: auto;
  left: 35%;
  margin-top: 60px;
  position: absolute; }

.container__bag:hover .bag {
  display: block; }

.icon {
  width: 35px;
  cursor: pointer;
  margin-right: 20px; }

/* FOOTER */
.grid-footer {
  grid-area: grid-footer;
  display: grid;
  grid-template-rows: 3fr 3fr 1fr;
  width: 100%; }

.footer__logo, .footer__redes {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  grid-gap: 1rem; }

.footer__info {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  margin-top: 50px; }

.info1, .info2 {
  display: flex;
  flex-direction: column; }

.info2 {
  padding-bottom: 25px; }

.footer__info a {
  color: #fff;
  text-decoration: none;
  padding: 2px; }

.footer__redes img {
  width: 25px; }

.metodos_h4, .metodos_logos {
  padding-bottom: 5px; }

.metodos_logos {
  display: flex;
  flex-wrap: wrap;
  width: 250px; }
  .metodos_logos img {
    width: 35px;
    margin: 8px; }

.pago-envio {
  display: flex;
  justify-content: space-evenly;
  margin: 10px; }

.container__logos {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container_metodos {
  display: flex;
  flex-direction: column; }

.footer__legales {
  background-color: #000;
  height: 30px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: smaller;
  font-weight: lighter;
  align-items: center;
  text-align: center; }

.capa-hover, .capa {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(119, 103, 103, 0.384);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-out;
  cursor: pointer;
  top: 0; }
  .capa-hover span, .capa span {
    position: absolute;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    top: 50%;
    left: 45%;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.815);
    transition: all .8s ease-out; }

.card, .container__card {
  display: flex;
  flex-direction: column;
  height: 540px;
  width: 320px;
  align-items: center;
  justify-content: center;
  transition: all .6s ease-in; }
  .card .container__img, .container__card .container__img {
    width: 300px;
    height: 420px;
    position: relative;
    overflow: hidden; }
    .card .container__img img, .container__card .container__img img {
      width: 100%;
      height: 100%;
      transition: all .9s ease-out; }

/* CONTENIDO INICIO */
.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .navbar h4 {
    margin-top: 2rem;
    font-size: 0.6rem;
    letter-spacing: 1px; }
  .navbar h1 {
    letter-spacing: 3px; }

.txt-color {
  color: #720707; }

.shadow {
  text-shadow: 1px 1px 2px rgba(54, 44, 44, 0.36); }

.flex-main {
  grid-area: flex-main;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: auto;
  position: relative; }

.container__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
  gap: 1rem; }
  .container__image .capa span {
    color: #fff;
    font-size: 20px;
    transition: all .6s ease-out;
    position: absolute;
    left: 45%;
    top: 60%; }

.share__img .capa:hover span {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 50%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.815); }

.share__img img {
  transition: all .6s ease-out;
  cursor: pointer;
  width: 100%; }

.share__img:hover img {
  transform: scale(1.1); }

.share__img:hover .capa {
  opacity: 1;
  visibility: visible;
  width: 100%; }

.content__image-1, .content__image-2, .content__image-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; }

.content__image-2 {
  width: 95%;
  height: 95%; }

.content__image-3 {
  width: 80%;
  height: 80%; }

.content__button {
  background-color: #000;
  text-align: center;
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  margin: auto; }

.content__button-1 {
  background-color: #000;
  text-align: center;
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  margin: auto;
  grid-area: content__button-1;
  justify-content: center;
  align-items: center; }

/* TENDENCIAS */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-bottom: 60px;
  padding: 0;
  margin: 0; }

.flex-section {
  grid-area: flex-section;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem; }

.container__img {
  width: 300px;
  height: 420px;
  position: relative;
  overflow: hidden; }
  .container__img img {
    width: 100%;
    height: 100%;
    transition: all .9s ease-out; }

.capa span {
  position: absolute;
  text-decoration: none;
  color: #fff;
  opacity: 0;
  top: 50%;
  left: 45%;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.815);
  transition: all .8s ease-out; }

.capa:hover span {
  opacity: 1;
  top: 40%; }

.container__img:hover .capa {
  display: block;
  opacity: 1;
  visibility: visible; }

.container__img:hover img {
  transform: scale(1.1); }

.container__card:hover {
  box-shadow: 1px 1px 2px 1px rgba(1, 1, 1, 0.2);
  transform: scale(1.1); }

.descripcion__tendencias {
  padding-left: 10px;
  padding-top: 10px; }

/* CONTENIDO */
.navbar_filter {
  grid-area: navbar_filter;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  padding: 10px; }

h4 {
  padding-bottom: 2rem; }

.container__main {
  grid-area: container__main;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; }

.container__productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  grid-gap: 1rem; }

.card__producto {
  position: relative;
  max-width: 320px;
  max-height: 360px;
  overflow: hidden;
  display: inline-block;
  margin: 20px 10px; }

.card__img {
  position: relative;
  transition: all .5s ease-out;
  width: 100%; }
  .card__img img {
    position: relative;
    transition: all 1s ease-out;
    height: 360px;
    width: 100%;
    cursor: pointer; }

.card__info {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  background-color: rgba(167, 167, 167, 0.247);
  position: absolute;
  bottom: 0;
  transition: all .5s ease-in-out; }
  .card__info button {
    width: 100px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto; }

.card__info p, .card__info span {
  font-weight: 400;
  padding: 2px;
  color: #000; }

.card__img:hover {
  transform: scale(1.1); }

.card__img:hover > .card__info {
  height: 160px;
  background-color: rgba(252, 238, 238, 0.521); }

/* CONTENIDO */
#container__main {
  grid-area: container__main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.txt-color {
  margin: 50px 0;
  color: #720707;
  transition: all .5s ease-in;
  border-bottom: 1px; }

.container__input {
  box-shadow: -0.3px 0.3px 0.5px 0.5px;
  height: 540px;
  padding: 30px;
  width: 70%; }

.input {
  display: flex;
  grid-gap: 5px;
  flex-direction: column;
  font-weight: 900; }
  .input input, .input textarea {
    border: none;
    outline: none;
    padding-left: 10px;
    height: 30px;
    transition: 1s;
    box-shadow: -0.3px 0.3px; }
    .input input:focus, .input textarea:focus {
      background-color: rgba(143, 29, 29, 0.39); }

textarea {
  height: 100px; }

button {
  background-color: #000;
  text-align: center;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  margin: auto;
  transition: all .5s ease-in; }
  button:hover {
    background-color: #720707; }

.info__tienda {
  grid-area: info__tienda;
  display: flex;
  justify-content: space-between;
  margin: auto;
  grid-gap: 20px;
  width: 60%; }

/* CONTENIDO ENVIOS */
.container__main-prd {
  grid-area: container__main-prd;
  width: 100%;
  grid-gap: 3rem; }
  .container__main-prd p {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    color: #423333; }
  .container__main-prd .txt-color {
    margin: 1.5rem 0;
    color: #720707; }

h2, h3 {
  display: flex;
  flex-direction: column;
  align-items: center; }

p strong {
  font-family: "Montserrat", sans-serif; }

.container__info {
  margin-top: 50px;
  margin-left: 60px; }
  .container__info ul li {
    font-family: "Montserrat", sans-serif;
    padding: 10px; }

/* CONTENIDO */
.container__article {
  grid-area: container__article;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  grid-gap: 2rem;
  width: 90%; }
  .container__article .txt-color {
    color: #720707; }

table, td {
  color: var(--blanco);
  background-color: rgba(143, 0, 0, 0.603);
  height: 90px;
  text-align: center; }

/* RESPONSIVE INICIO */
.img__mobile {
  display: none; }

.menu__hamburguesa {
  display: none; }

.container__opciones {
  display: none; }

@media screen and (max-width: 860px) {
  .grid-container-index {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px auto 300px auto 100px 200px;
    grid-template-areas: "header header" "navbar navbar" "flex-main flex-main" "sidebar   sidebar" "flex-section flex-section" "content__button-1 content__button-1" "grid-footer grid-footer"; }
  /* HEADER */
  .menu__opciones {
    display: none; }
  .menu__logo {
    margin: auto; }
  .icon__user {
    display: none; }
  .menu__hamburguesa {
    display: block;
    transition: all 0.3s ease-in; }
  .bars__efect {
    display: inline-block;
    width: 60px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 400ms; }
  .bars__efect span {
    margin: auto;
    width: 30px;
    height: 1.5px;
    background-color: black;
    display: block;
    margin-top: 8px;
    transform-origin: 0px 100%;
    transition: all 400ms; }
  .bars__efect:hover .line1__bars-menu {
    transform: rotate(45deg) translate(-2px, 2px); }
  .bars__efect:hover .line2__bars-menu {
    margin-left: -20px;
    opacity: 0; }
  .bars__efect:hover .line3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 1px); }
  .container__opciones {
    display: none;
    position: absolute;
    padding: 40px 10px;
    right: 0;
    top: 100px;
    bottom: 0;
    width: 100vw;
    z-index: 9;
    background-color: rgba(230, 219, 219, 0.1);
    backdrop-filter: 5px;
    filter: blur(4);
    height: 100vh;
    backdrop-filter: blur(5px); }
  .container__opciones li, .container__opciones a {
    width: 100vw;
    list-style: none;
    text-decoration: none;
    color: #720707;
    letter-spacing: 2px;
    padding: 8px;
    margin: 10px;
    text-align: center;
    font-size: 22px;
    transition: all 0.3s ease-in;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.815); }
  .container__opciones li:hover {
    background-color: black; }
  .container__opciones li:hover > a {
    color: white; }
  .container__opciones div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .menu__hamburguesa:hover .container__opciones {
    display: block; }
  /* MAIN */
  .content__image-3 {
    display: none; }
  .content__image-1, .content__image-2, .content__image-3 {
    display: none; }
  .content__image-2 {
    display: flex;
    margin-top: 60px; }
  .flex-main {
    margin: auto; }
  .container__image {
    display: flex; }
  .navbar {
    margin-top: 100px; }
  .footer__info {
    padding: 20px; } }

@media screen and (max-width: 820px) {
  .container__productos {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 620px) {
  .container__productos {
    grid-template-columns: 1fr; } }
