*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}


body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(112, 4, 4);
}

html{
    height: 100%;
}

/* LAYOUT GRID */

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 150px auto 300px;
    grid-template-areas:
    "header        header        header"
    "navbar        navbar        navbar"
    "container__main container__main container__main"
    "grid-footer   grid-footer   grid-footer"
    ;
}

/* MENU */

.header{
    width: 100%;
    height: 100px;
    grid-area: header;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blanco);
    z-index: 2;
    box-shadow: 1px 1px 2px rgba(1,1,1,.2);
}

.menu__logo{
    font-size: var(--menu-logo);
    margin-left: 2rem;
    padding-right: 10px
}


.menu__opciones_lista{
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    height: 50px;
    grid-gap: 1.5rem;   
    flex-grow: 1;
}

.menu__opciones_lista li{
    text-align: center;
    transition: 1s ease all;
}


.menu__productos__desplegable ul{
    list-style: none;
    position: absolute;
    width: 180px;
    display: none;
    height: 180px;
    background-color: var(--blanco);
    cursor: pointer;

}
.menu__productos__desplegable ul li a{
    font-size: 1.2rem;
    letter-spacing: 1px;
   
}

.menu__productos__desplegable ul li {
    padding-top: 10px;
}
.menu__productos__desplegable:hover ul{
    display: block;
}

.menu__opciones_lista  > li  a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--negro);
    letter-spacing: 1.5px;
    position: relative;
    width: 100%;
    padding: 0 10px;
 
}

.menu__opciones_lista > li a:after{
    position: absolute;
    transition: all .5s ease;   
    content: "";
    height: 3px;
    background-color: var(--color-fuerte);
    width: 0;
    left: 0;
    bottom: -10px;
}

.menu__opciones_lista > a:hover{
    color: var(--color-fuerte);
}


.menu__opciones_lista li a:hover:after{
    width: 100%;
}

.menu__icon{
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    padding-left: 10px;

}

/* BAG con JS */

.container__bag{
    position: relative;
    right: 20px;

}

.bag{

    height: 150px;
    background-color:var(--negro);
    position: absolute;
    width: 300px;
    right: 24px;
    border-radius: 5px;
    display: none;
    transition: 1s ease all;
}

.bag span{
    color: var(--negro);
    margin-top: 10px;
    padding-left: 20px;
    background-color: var(--blanco);
    width: 300px;
    display: block;

}
.bag button{
    margin-left: 100px;
    background-color: var(--blanco);
    width: 120px;
    height: 30px;
    font-weight: 900;
    border: none;
    margin-top: 80px;
    cursor: pointer;

}

.container__bag:hover .bag {
    display: block;
}
.icon{
    width: 35px;
    cursor: pointer;
    margin-right: 20px;
}

/* CONTENIDO */

.navbar{
    grid-area: navbar;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
   
}

h4{
  padding-bottom: 2rem; 
}


.container__main{
    grid-area: container__main;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;


}

.container__productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    grid-gap: 1rem;
}

 .card__producto{
    position: relative;

    max-width: 320px;
    max-height: 360px;
    overflow: hidden;
    display: inline-block;
    margin: 20px 10px;
}

h1{
    color: var(--color-fuerte);
}

.card__img{
    position: relative;

    transition: all .5s ease-out;
    width: 100%;
}

.card__img img{

    position: relative;
    transition: all 1s ease-out;
    height: 360px;
    width: 100%;
    cursor: pointer;
}

.card__info{
    width: 100%;
    height: 60px;
    background-color: rgba(167, 167, 167, 0.247);
    position: absolute;
    bottom: 0;
    transition: all .5s ease-in-out;

}
.card__info p, .card__info span{
    font-weight:400;
    padding: 2px;
    color: var(--negro);
}

.card__info button{
    width: 100px;
    height: 30px;
    background-color: var(--blanco);
    color: var(--negro);
    border: none;
    font-weight: 900;
}
.card__img:hover{
    transform: scale(1.1);

}

.card__img:hover > .card__info{
    height: 160px;
    background-color:var(--capa-blur);

}

/* GRID FOOTER*/


.grid-footer{
    grid-area: grid-footer;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    width: 100%;
}

.footer__logo, .footer__redes {
    font-size: var(--footer-logo);
    display: flex;
    justify-content: center; 
    grid-gap: 1rem;
}

.footer__info{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--negro);
    margin-top: 50px;
   
}

.info1, .info2{
    display: flex;
    flex-direction: column;
}

.info2{
    padding-bottom: 25px;
}


.footer__info a {
    color: var(--blanco);
    text-decoration: none;
    padding: 2px;  
}

.footer__redes img{
    width: 25px;
}

.container__logos{
    background-color: var(--blanco);
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__legales{
    background-color: var(--negro);
    height: 30px;
    display: flex;
    justify-content: center;
    color: var(--blanco);
    font-size: smaller;
    font-weight: lighter;
    align-items: center;
    text-align: center;
}


/* RESPONSIVE */

.menu__hamburguesa{
    display: none;
}

.container__opciones{
    display: none;
}


@media screen and (max-width:820px){
  
       /* MENU MOBILE */
    .menu__opciones{
        display: none;
    }
    
    .menu__logo{
        margin: auto;        
    }
    .icon__user{
        display: none;
    }

    .container__opciones{
        display: none;
    }
    .menu__hamburguesa{
        display: block;
        transition: all 600ms ease-out;

        
    }

    .bars__efect{
        display: inline-block;
        width: 60px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
        transition: all 400ms;

    }

    .bars__efect span{
        margin: auto;
        width: 30px;
        height: 1.5px;
        background-color: black;
        display: block;
        margin-top: 8px;
        transform-origin: 0px 100% ;
        transition: all 400ms;
        
    }

    .bars__efect:hover .line1__bars-menu{
        transform: rotate(45deg) translate(-2px, 2px);
    }

    .bars__efect:hover  .line2__bars-menu{
        margin-left: -20px;
        opacity: 0;
    }

    .bars__efect:hover  .line3__bars-menu{
        transform: rotate(-45deg) translate(-4px, 1px);
    }


    .container__opciones{
        display: none;
        position: absolute;
        padding: 40px 10px;
        right: 0;
        top:100px;
        bottom: 0;
        width: 100vw;
        z-index: 9;
        background-color: rgba(230, 219, 219, 0.1);
        backdrop-filter:5px;
        filter: blur(4);
        height: 100vh;
        backdrop-filter: blur(5px);
    }


    .container__opciones  li, .container__opciones a {
       
        width: 100vw;
        list-style:none ;
        text-decoration: none;
        color:var(--color-fuerte);
        padding: 8px;
        margin: 10px;
        text-align: center;
        font-size: 22px;
        transition: all 0.3s ease-in;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.815);
    }

    .container__opciones li:hover {
        background-color: rgb(0, 0, 0);
    }

    .container__opciones li:hover > a{
        color: white;
    }

    .container__opciones div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .menu__hamburguesa:hover .container__opciones{
        display: block;
        opacity: 1;
        transform: translate(0,0);
    }
    

    /* MAIN */
  
    .container__productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /* FOOTER */

    .footer__info{
        padding: 20px;
    }
}



@media screen and (max-width:620px){

    .container__productos{
        grid-template-columns: 1fr;
    }
}