

/* LAYOUT GRID */

.grid-container-index{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 150px auto 200px auto 100px 300px;
    grid-template-areas:
    "header       header       header"
    "navbar       navbar       navbar"
    "flex-main    flex-main    flex-main"
    "sidebar      sidebar      sidebar"
    "flex-section flex-section flex-section"
    "content__button-1 content__button-1 content__button-1"
    "grid-footer  grid-footer  grid-footer"
    ;
    
}
