
$color-fuerte:rgb(114, 7, 7);
$color-blanco:#fff;
$color-negro:#000;
$color-capa-blur:rgba(252, 238, 238, 0.521);
$dark-opacity:rgba(119, 103, 103, 0.384);
//  LOGO 
$menu-logo:2.5rem;
$footer-logo:2rem;
$layout:"grid-container";