.button{
    display: flex;
 
    background-color: $color-negro;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 12px;
    color:$color-blanco;
    cursor: pointer;
    margin: auto;
}