@mixin btn($width, $height){
    background-color: $color-negro;
    text-align: center;
    width: $width;
    height: $height;
    border: none;
    outline: none;
    font-size: 12px;
    color:$color-blanco;
    cursor: pointer;
    margin: auto;   
}