
  @import "./button";


  /* CONTENIDO */

  #container__main{
    grid-area: container__main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.txt-color{
    margin: 50px 0;
    color: map-get($paleta, primary);
    transition: all .5s ease-in;
    border-bottom: 1px;

}

.container__input{
    box-shadow: -0.3px 0.3px 0.5px 0.5px;
    height: 540px;
    padding: 30px;
    width: 70%;
}
.input{
    display: flex;
    grid-gap:  5px;
    flex-direction: column;
    font-weight: 900;

    input, textarea{
        border: none;
        outline: none;
        padding-left: 10px;
        height: 30px;
        transition: 1s;
        box-shadow: -0.3px 0.3px;
        &:focus{
            background-color: rgba(143, 29, 29, 0.39);
        }
    }
}

textarea{
    height: 100px;
}

button{
    @include btn(100%, 40px);
    transition:all .5s ease-in ;
    &:hover{
        background-color:map-get($paleta, primary );
    }
}

.info__tienda{
    grid-area: info__tienda;
    display: flex;
    justify-content: space-between;
    margin: auto;
    grid-gap: 20px;
    width: 60%;
}