
/* CONTENIDO */

.container__article{
    grid-area: container__article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    grid-gap:2rem;
    width: 95vw;
    height: 100vh;
    .txt-color{
        color: $color-fuerte;
}

}


.container__table{
    background-color: rgba(143, 0, 0, 0.603);
    height: 100%;
    width: 100%;
    text-align: center;
    tr, td{
    color: $color-blanco;
    background-color: $color-fuerte;
    }
}