
.card{
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 320px;
    // width: 100%;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-in;
    // margin: 10px;

}
